<div class="navbar subnav navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="#" class="brand">
                {{namespace.name}}
                {{#if namespace.isFunction}}
                <span class="label label-label">Function</span>
                {{/if}}
                {{#if namespace.isPrivate}}
                <span class="label label-important">Private</span>
                {{else}}
                {{#if namespace.isProtected}}
                <span class="label label-warning">Protected</span>
                {{else}}
                <span class="label label-success">Public</span>
                {{/if}}
                {{/if}}
            </a>
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".sub-nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse sub-nav-collapse">
                {{#if namespace.methods.length}}
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Methods<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {{#each namespace.methods}}
                            <li><a href="{{link fullName}}">
                                {{#if isStatic}}
                                <span class="label label-info">S</span>
                                {{/if}}
                                {{#if isFunction}}
                                <span class="label label-label">F</span>
                                {{/if}}
                                {{#if isPrivate}}
                                <span class="label label-important">P</span>
                                {{else}}
                                {{#if isProtected}}
                                <span class="label label-warning">P</span>
                                {{else}}
                                <span class="label label-success">P</span>
                                {{/if}}
                                {{/if}}
                                {{name}}
                            </a></li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
                {{/if}}
            </div>
        </div>
    </div>
</div>