---
title: HTML Helpers
links: 
  - one
  - two
  - three

moreLinks:
  -
    url: one
    text: two  
  -
    url: three
    text: four  
  -
    url: five
    text: size
---
<h2>DOCTYPE helper</h2>
HTML 5: <h2>DOCTYPE</h2>
HTML 5: {{doctype '5'}}
html 5: {{doctype 'html'}}
html 5: {{doctype 'html5'}}
xml: {{doctype 'xml'}}
strict: {{doctype 'strict'}}
basic: {{doctype 'basic'}}
transitional: {{doctype 'transitional'}}
frameset: {{doctype 'frameset'}}
1.1: {{doctype '1.1'}}
mobile: {{doctype 'mobile'}}



<h2><pre>link</pre> Helper</h2>
{{link 'http://github.com' 'GitHub'}}


{{link 'http://github.com' 'GitHub' 'nav-link'}}


{{#ul links class="nav"}}
  {{.}}
{{/ul}}

{{#ul moreLinks class="nav"}}
  <a href="{{url}}">{{text}}</a> 
{{/ul}}