---
title: HTML Helpers
links: 
  - one
  - two
  - three

moreLinks:
  -
    url: one
    text: two  
  -
    url: three
    text: four  
  -
    url: five
    text: size
---


<h2><pre>link</pre> Helper</h2>
{{link 'http://github.com' 'GitHub'}}


{{link 'http://github.com' 'GitHub' 'nav-link'}}


{{#ul links class="nav"}}
  {{.}}
{{/ul}}

{{#ul moreLinks class="nav"}}
  <a href="{{url}}">{{text}}</a> 
{{/ul}}