---
title: Miscellaneous Helpers
---
<h1>{{title}}</h1>

<h2>Icons</h2>
{{icon 'test.png'}}
{{icon 'test.pdf'}}
{{icon 'test.doc'}}
{{icon 'test.txt'}}
{{icon 'test.csv'}}

<h2>Highlight text</h2>
{{highlight 'something'}}


