---
title: Pages (Collection) Variables
url:
  assemble: http://github.com/assemble/
---
<h1>{{title}}</h1>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        {{#pages}}<li><a href="{{lowercase basename}}{{ext}}">{{data.title}}</a></li>
        {{/pages}}
      </ul>
      <ul class="nav"><li><a href="{{url.assemble}}">Visit Assemble</a></li></ul>
    </div>
  </div>
</div>

{{#comment}}
NOTE: "pages", "filename" and "ext" are build-in variables that require 
assemble. Also, "title" does not require Assemble, but "data.title" does 
since it accesses the Assemble "data" object 
{{/comment}}