---
title: Path Helpers
from: ./examples/result/md/authors.md
to: ./examples/result/md/changelog.md
---
# {{title}}
Basename: {{basename "docs/toc.md"}}
File name: {{filename "docs/toc.md"}}

## relative
One: {{relative from to}}

Two: {{relative 'C:\\orandea\\test\\aaa' 'C:\\orandea\\impl\\bbb'}}
Three: {{relative "lib" "docs/toc.md"}}

Four: {{relative "." "lib"}}
Five: {{relative "docs/toc.md" "."}}
Five: {{relative "docs/toc.md" "js-yaml"}}
Six: {{relative "js-yaml/bin" "lib"}}
Seven: {{relative "docs/toc.md" "js-yaml"}}
Eight: {{relative "./" "js-yaml/bin"}}
Nine: {{relative "docs/toc.md" "js-yaml"}}
Nine: {{relative "." "js-yaml/bin"}}

<a href="{{relative "docs/toc.md" "lib"}}/assets/css/styles.css"></a> 
<a href="{{relative "." "lib"}}/assets/css/styles.css"></a> 
<a href="{{relative " " "lib"}}/assets/css/styles.css"></a> 
<a href="{{relative "/" "lib"}}/assets/css/styles.css"></a> 
<a href="{{relative "docs/toc.md" "."}}/assets/css/styles.css"></a> 
<a href="{{relative "docs/toc.md" "/"}}/assets/css/styles.css"></a> 


## absolutes
One: {{absolute to}}
Two: {{absolute 'C:\\orandea\\impl\\bbb'}}
Three: {{absolute "lib"}}
Four: {{absolute "."}}
Eight: {{absolute "./"}}
Five: {{absolute "docs/toc.md"}}
Five: {{absolute "js-yaml"}}
Six: {{absolute "js-yaml/bin"}}
Seven: {{absolute "docs/toc.md"}}


## directory
One: {{directory to}}
Two: {{directory 'C:\\orandea\\impl\\bbb'}}
Three: {{directory "lib"}}
Four: {{directory "."}}
Eight: {{directory "./"}}
Five: {{directory "docs/toc.md"}}
Five: {{directory "js-yaml"}}
Six: {{directory "js-yaml/bin"}}
Seven: {{directory "docs/toc.md"}}
