---
title: Defining sections from inside a page.
url:
  repo: http://github.com/assemble/
---

{{#section 'before'}}
<h1>{{title}}</h1>
{{/section}}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        {{#pages}}<li><a href="{{lowercase basename}}{{ext}}">{{data.title}}</a></li>
        {{/pages}}
      </ul>
      <ul class="nav"><li><a href="{{url.repo}}">Visit Assemble</a></li></ul>
    </div>
  </div>
</div>

{{#section 'after'}}
{{#comment}}
NOTE: "pages", "filename" and "ext" are build-in variables that require
assemble. Also, "title" does not require Assemble, but "data.title" does
since it accesses the Assemble "data" object
{{/comment}}
{{/section}}
