---
title: helper-lib example
url:
  repo: http://github.com/assemble/
---
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        {{#pages}}<li><a href="{{lowercase basename}}{{ext}}">{{data.title}}</a></li>
        {{/pages}}
      </ul>
      <ul class="nav pull-right"><li><a href="{{url.repo}}">Visit Assemble</a></li></ul>
    </div>
  </div>
</div>

<h4> {{ title }}</h4>

{{#renderSection 'a'}}
  <div class="alert alert-success"><strong>Replacement "a" section</strong> Replacement "a" section content</div>
{{/renderSection}}

{{#renderSection 'c'}}
  <div class="alert alert-success"><strong>Replacement "c" section</strong> Replacement "c" section content</div>
{{/renderSection}}

{{#renderSection 'b'}}
  <div class="alert alert-success"><strong>Replacement "b" section</strong> Replacement "b" section content</div>
{{/renderSection}}


