---
old: alert-success
new: alert-info
---

## Hyphenate
{{hyphenate "make this all hyphenated"}}

## Dashify
{{dashify "make.this.all.dashified"}}

## Replace
``` markdown
{{replace "replace.a.with.b" "." " abc " }}
{{replace "replace.a.with.b" "." " abc " }}
{{replace "replace.a.with.b" "." " abc " }}
{{replace "replace.a.with.b" "." " abc " }}
{{replace "replace a with b" " " " - " }}
{{replace "replace a with b" " " " --- " }}
{{replace "replace a with b" " " "_" }}
{{replace "replace a with b" " " "." }}
{{replace "replace a with b" "a" "z" }}
{{replace "replace a with b" "b" "c" }}
{{replace "replace a with b" "replace" "switch" }}
{{replace "replace a with b" "with" "for" }}
{{{replace '<div class="alert alert-success"> words... </div>' old new }}}
```