---
title: String Helpers
content: thIs IS a ReAllY BadlY TYPEd sentence. You.Know.What.I.mean?
---
<h1>{{title}}</h1>
titleize: {{titleize content}}
capitalizeFirst: {{capitalizeFirst content}}
capitalizeEach: {{capitalizeEach content}}
sentence: {{sentence content}}
reverse: {{reverse content}}
center: {{center content}}
hyphenate: {{hyphenate content}}
dashify: {{dashify content}}
