{{#each namespaces}}
<a name="{{escapeLink name}}"></a>
{{{import "./templates/html/namespace-nav"}}} <em>Defined {{file}}</em>

<p>{{{replaceLinks description}}}</p>
{{#each examples}} <em>Example</em>
<pre class="prettyprint linenums lang-js">{{code}}</pre>
{{/each}}
{{#if params.length}}
<em>Arguments</em>
<ul>
  {{#each params}}
  <li>
    <em>{{{formatParamName name}}}</em>
    {{#if types}}{{{joinTypes types}}}{{/if}} : {{{replaceLinks description}}}
  </li>
  {{/each}}
</ul>
{{/if}}
{{#if returns.length}}
<em>Returns</em>
<ul>
  {{#each returns}}
  <li>
    {{#if types}}{{{joinTypes types}}}{{/if}} {{{replaceLinks description}}}
  </li>
  {{/each}}
</ul>
{{/if}}
{{#if throws.length}}
<em>Throws</em>
<ul>
  {{#each throws}}
  <li>
    {{#if types}}{{{joinTypes types}}}{{/if}} {{{replaceLinks description}}}
  </li>
  {{/each}}
</ul>
{{/if}}
{{#if code}}
    {{#unless ignoreCode}}
<em>Source</em>
<pre class="prettyprint linenums lang-js">{{code}}</pre>
{{/unless}}
{{/if}}
    {{{propertyTable properties}}}
    {{#each methods}}
        {{{import "./templates/html/symbol"}}}
    {{/each}}
{{/each}}