<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
      {{#if projectName}}
          <a href="./templates/html/index.html" class="brand">{{projectName}}</a>
      {{/if}}
      <div class="nav-collapse">
      <ul class="nav nav-pills">
      {{#if namespaces.length}}
        <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Namespaces<b class="caret"></b></a>
           <ul class="dropdown-menu">
             {{#each namespaces}}
               <li><a href="{{link name}}">{{name}}</a></li>
             {{/each}}
           </ul>
           </li>
        {{/if}}
        {{#if classes.length}}
           <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Classes<b class="caret"></b></a>
           <ul class="dropdown-menu">
            {{#each classes}}
              <li><a href="{{link name}}">{{name}}</a></li>
            {{/each}}
           </ul>
        </li>
       {{/if}}
      </ul>
      {{#if github}}
      <ul class="nav pull-right">
        <li><a href="{{github}}" target="#github" class="pull-right">github</a></li>
      </ul>
      {{/if}}
      </div>
    </div>
  </div>
</div>

